In [3]:
import pandas as pd
import numpy as np
students = pd.read_csv('data/students-scores.csv')
students

  Last Name First Name 4th Grade 5th Grade 6th Grade
0   Johnson        Mia         A        B+        A-
1     Lopez       Liam         B         B        A+
2       Lee   Isabella         C        C-        B-
3    Fisher      Mason         B        B-        C+
4     Gupta     Olivia         B        A+         A
5  Robinson     Sophia        A+        B-         A