In [3]:
import pandas as pd
import numpy as np
students = pd.read_csv('data/students-scores.csv')
students

  Last Name First Name 4th Grade 5th Grade 6th Grade
0   Johnson        Mia         A        B+        A-
1     Lopez       Liam         B         B        A+
2       Lee   Isabella         C        C-        B-
3    Fisher      Mason         B        B-        C+
4     Gupta     Olivia         B        A+         A
5  Robinson     Sophia        A+        B-         A

In [1]:
import pandas as pd
import numpy as np
# Default engine 'xlrd' might have bug in Python 3.9
pd.read_excel('data/Excel-Pitfalls.xlsx', sheet_name='Dask Sample', engine='openpyxl')

             timestamp      id    name          x
0  2000-01-01 00:00:00     979   Zelda   0.802163
1   2000-01-01 0:00:01  1019.5  Ingrid  -0.349999
2  2000-01-01 00:00:02    1007  Hannah  -0.169853
3  2000-01-01 00:00:03    1034  Ursula    0.86809
4                          NaN     NaN        NaN
5                  NaN     NaN     NaN        NaN
6            timestamp      id    name          y
7  2000-01-01 00:00:02    1007  Hannah  -0.050842
8  2000-01-01 00:00:03    1034  Ursula  -0.190783
9  2000-01-01 00:00:04    1024  Ingrid   0.109101

In [2]:
df1 = pd.read_excel('data/Excel-Pitfalls.xlsx', nrows=5, dtype=object, engine='openpyxl')
df1.loc[:2] # Just look at the first few rows

             timestamp      id    name          x
0  2000-01-01 00:00:00     979   Zelda   0.802163
1   2000-01-01 0:00:01  1019.5  Ingrid  -0.349999
2  2000-01-01 00:00:02    1007  Hannah  -0.169853

In [3]:
tss = df1.loc[:2, 'timestamp']
for i, ts in enumerate(tss):
    print(f"TS {i}: {ts}\t{ts.__class__.__name__}")

TS 0: 2000-01-01 00:00:00	datetime
TS 1: 2000-01-01 0:00:01	str
TS 2: 2000-01-01 00:00:02	datetime

In [5]:
pd.to_datetime(tss)

0   2000-01-01 00:00:00
1   2000-01-01 00:00:01
2   2000-01-01 00:00:02
Name: timestamp, dtype: datetime64[ns]

In [8]:
ids = df1.loc[:3, 'id']
for i, id_ in enumerate(ids):
    print(f"id {i}: {id_}\t{id_.__class__.__name__}")

id 0: 979	int
id 1: 1019.5	float
id 2: 1007	int
id 3: 1034	str

In [10]:
ids.astype(int)

0     979
1    1019
2    1007
3    1034
Name: id, dtype: int64

In [11]:
df1 = df1.loc[0:3].astype(
    {'id': np.uint16,
    'name': pd.StringDtype(),
    'x': float})
    # datetimes require conversion function, not just type
df1['timestamp'] = pd.to_datetime(df1.timestamp)
print(df1.dtypes)

timestamp    datetime64[ns]
id                   uint16
name                 string
x                   float64
dtype: object