In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
picture = pd.read_excel('Film_Awards.xlsx', skiprows=1, nrows=3, engine="openpyxl")
picture = picture.rename(columns={"Director": "AA-Director", "Director.1": "GGD-Director", "Director.2": "GGMC-Director"})
picture

,Year,Academy Award,AA-Director,Golden Globe - Drama,GGD-Director,Golden Globe - Musical or Comedy,GGMC-Director
0,2019,Parasite,Bong Joon-ho,1917,Sam Mendes,Once Upon a Time in Hollywood,Quentin Tarantino
1,2018,Green Book,Peter Farrelly,Bohemian Rhapsody,Bryan Singer,Green Book,Peter Farelly
2,2017,The Shape of Water,Guillermo del Toro,"Three Billboards Outside Ebbing, Missouri",Martin McDonagh,Lady Bird,Greta Gerwig

In [3]:
picture.melt(
    id_vars = ["Year"],
    var_name="Key",
    value_name="value"
).set_index(['Year'])

,Key,value
Year,,
2019,Academy Award,Parasite
2018,Academy Award,Green Book
2017,Academy Award,The Shape of Water
2019,AA-Director,Bong Joon-ho
2018,AA-Director,Peter Farrelly
2017,AA-Director,Guillermo del Toro
2019,Golden Globe - Drama,1917
2018,Golden Globe - Drama,Bohemian Rhapsody
2017,Golden Globe - Drama,"Three Billboards Outside Ebbing, Missouri"
2019,GGD-Director,Sam Mendes
2018,GGD-Director,Bryan Singer
2017,GGD-Director,Martin McDonagh
2019,Golden Globe - Musical or Comedy,Once Upon a Time in Hollywood
2018,Golden Globe - Musical or Comedy,Green Book
2017,Golden Globe - Musical or Comedy,Lady Bird
2019,GGMC-Director,Quentin Tarantino
2018,GGMC-Director,Peter Farelly
2017,GGMC-Director,Greta Gerwig

In [4]:
picture = picture.astype(
    {'Year': np.uint16,
    'Academy Award': pd.StringDtype(),
    'AA-Director': pd.StringDtype(),
    'Golden Globe - Drama': pd.StringDtype(),
    'GGD-Director': pd.StringDtype(),
    'Golden Globe - Musical or Comedy': pd.StringDtype(),
    'GGMC-Director': pd.StringDtype()})
print(picture.dtypes)

Year                                uint16
Academy Award                       string
AA-Director                         string
Golden Globe - Drama                string
GGD-Director                        string
Golden Globe - Musical or Comedy    string
GGMC-Director                       string
dtype: object

In [5]:
actor = pd.read_excel("Film_Awards.xlsx", skiprows=8, nrows=3, engine='openpyxl')
actor = actor.rename(columns={"Film": "AA-Film", "Film.1": "Film-GGD", "Film.2": "Film-GGMC"})
actor

,Year,Academy Award,AA-Film,Golden Globe - Drama,Film-GGD,Golden Globe - Musical or Comedy,Film-GGMC
0,2019,Joaquin Phoenix,Joker,Joaquin Phoenix,Joker,Taron Egerton,Rocketman
1,2018,Rami Malek,Bohemian Rhapsody,Rami Malek,Bohemian Rhapsody,Christian Bale,Vice
2,2017,Gary Oldman,Darkest Hour,Gary Oldman,Darkest Hour,James Franco,The Disaster Artist

In [6]:
actress = pd.read_excel('Film_Awards.xlsx', skiprows=15, nrows=3, engine='openpyxl')
actress = actress.rename(columns={"Film": "AA-Film", "Film.1": "Film-GGD", "Film.2": "Film-GGMC"})
actress

,Year,Academy Award,AA-Film,Golden Globe - Drama,Film-GGD,Golden Globe - Musical or Comedy,Film-GGMC
0,2019,Renée Zellweger,Judy,Renée Zellweger,Judy,Awkwafina,The Farewell
1,2018,Olivia Colman,The Favourite,Glenn Close,The Wife,Olivia Coleman,The Favourite\n
2,2017,Frances McDormand,"Three Billboards Outside Ebbing, Missouri",Frances McDormand,"Three Billboards Outside Ebbing, Missouri",Saoirse Ronan,Lady Bird

In [9]:
# Fixes misspelling of "The Favourite"
actress.at[1, 'Film-GGMC']='The Favourite'
actress

,Year,Academy Award,AA-Film,Golden Globe - Drama,Film-GGD,Golden Globe - Musical or Comedy,Film-GGMC
0,2019,Renée Zellweger,Judy,Renée Zellweger,Judy,Awkwafina,The Farewell
1,2018,Olivia Colman,The Favourite,Glenn Close,The Wife,Olivia Coleman,The Favourite
2,2017,Frances McDormand,"Three Billboards Outside Ebbing, Missouri",Frances McDormand,"Three Billboards Outside Ebbing, Missouri",Saoirse Ronan,Lady Bird

In [8]:
# Checks datatype of each cell
ids = picture['Golden Globe - Drama']
for i, id_ in enumerate(ids):
    print(f"id {i}: {id_}\t{id_.__class__.__name__}") 
# Shows that 1917 is fixed to be a string

id 0: 1917	str
id 1: Bohemian Rhapsody	str
id 2: Three Billboards Outside Ebbing, Missouri	str